img{
    width: 80%;
    border-radius: 15px  black;
background-color: black;
border:5px solid black ;
}

div{
    width: 400px;
    background-color: gray;
    margin: 100px ;
    padding: 20px;
}

body{
    background-color: black;
    background-size: 100%;
}
